Repository bwmarrin/discordgo, pull requests merged in 2022-12, with the labels that each got.

#1269 Auto populated select menus
  components.go
  examples/components/main.go
Labels: feature

#1271 Fix the problem of reconnecting when moved to another VC
  voice.go
Labels: bug, voice

#1255 Complement `GuildParams` struct to comply with Discord's API
  structs.go
Labels: feature, help wanted, high priority

#1295 Role connections
  endpoints.go
  examples/linked_roles/go.mod
  examples/linked_roles/go.sum
  examples/linked_roles/main.go
  restapi.go
  structs.go
Labels: feature, rest
