Repository bwmarrin/discordgo, pull requests merged in 2024-01, with the labels that each got.

#1401 feat(guild): implement onboarding
  endpoints.go
  restapi.go
  structs.go
Labels: feature, high priority, rest, structs

#1334 Added support for the icon and unicode_emoji role struct fields
  endpoints.go
  structs.go
Labels: feature, structs

#1476 Modify SelectMenuOption Emoji field to omitempty
  components.go
  examples/components/main.go
Labels: fix
